//====Fonts=====
$elektra_light_regular: 'elektra_light_proregular'
$elektra_light_bold: 'elektra_light_probold'
$elektra_medium_regular: 'elektra_medium_proregular'
$elektra_medium_italic: 'elektra_medium_proitalic'

//====Colors=====
$silver: #f4f6f9
$gray: #dae1eb
$blue: #00b9fe
$dark-blue: #5c7b98

//=====MIXINS======
@mixin clearfix()
  &:before,
  &:after
    content: " " // 1
    display: table // 2

  &:after
    clear: both


//variable