extends _layout/_layout

block title
     | LoftShop

block content
    .page
        .container
            include _includes/_sideBar

            .page__content
                .slider
                    ul.slider__list
                        - for (var i = 0; i < 3; i++)
                            li.slider__item
                                img(src="//lorempixel.com/740/300/technics/" + i).slider__img
                                .slider__description
                                    .slider__description-inner
                                        .slider__description-title
                                            a(href="#") iMac за полцены
                                        .slider__description-text Принеси свой старый Mac и получи скидку на новый!

                each section in ["Популярные товары", "Товары со скидкой"]
                    .products
                        .page-title
                            .page-title__text= section

                        ul.products__list
                            each title, indx in ['Apple Thunderbolt Display', 'iMac 27', 'iPhone 5s Gold']
                                li.products__item
                                    a(href="#").products__item-inner
                                        .products__title
                                            .products__title-pic
                                                img(src="//lorempixel.com/90/90/technics/" + indx)
                                            .products__title-text--wrap
                                                .product__title-text= title
                                        .products__options
                                            ul.products__options-list
                                                li.products__options-item
                                                    .products__options-key Article
                                                    .products__option-value 212222
                                                li.products__options-item
                                                    .products__options-key Option
                                                    .products__option-value Include
                                                li.products__options-item
                                                    .products__options-key Color
                                                    .products__option-value Silver
                                                li.products__options-item
                                                    .products__options-key Size
                                                    .products__option-value 1280*1245*90
                                                li.products__options-item
                                                    .products__options-key Mass
                                                    .products__option-value 6kg









