//GENERAL PROJECT STYLES
@import "../mixins/_mixins.sass"
@import "../../../fonts/fonts"

*
  font-family: $elektra_light_regular
  font-size: 100%
  box-sizing: border-box
  border: 0


html, body
  min-height: 100%
  width: 100%
  text-align: center

.wrapper, .mainContent
  width: 100%
  min-height: 100%
  height: auto
  text-align: center
  padding: 10px 10px 0 10px


.page
  min-width: 1000px
  display: inline-block
  text-align: left

.container
  @include clearfix

.page__content
  display: inline-block
  max-width: 740px
  width: 100%
  float: right

.logo
  display: inline-block
  width: 100%
  height: auto
  margin-bottom: 25px

.logo__img
  max-width: 230px
  max-height: 60px
  width: 100%
.logo__text
  display: none


// ==== CONTENT ====
.slider
  position: relative
  margin-bottom: 40px
  min-width: 740px
  display: block

.bx-next, .bx-prev
  width: 71px
  height: 34px
  line-height: 34px
  text-align: center
  text-decoration: none

.bx-next
  background: url("../img/icons/slider_ctrl.png") right 0
  &:hover
    background-position: right 34px
.bx-prev
  background: url("../img/icons/slider_ctrl.png") left 0
  &:hover
    background-position: left 34px

.slider__list
  @include clearfix
  width: 740px
  list-style: none

.slider__item
  width: 740px
  position: relative

.slider__img
  width: 740px

.slider__description
  position: absolute
  bottom: 0
  left: 0
  right: 0
  height: 75px
  background: url("../img/bg/slide_desc_back.png")

.slider__description-inner
  padding: 14px 24px

.slider__description-title
  margin-bottom: 5px
  a
    font-size: 18px
    line-height: 20px
    color: $blue
    font-family: $elektra_light_regular

.slider__description-text
  font-size: 14px
  line-height: 16px
  color: #fff
  font-family: $elektra_light_regular

.bx-prev, .bx-next
  position: absolute
  top: 50%

.bx-next
  right: 0

.bx-prev
  left: 0


//==== GADGETS SECTION =====

.page-title
  text-align: center
  overflow: hidden

.page-title__text
  display: inline-block
  font-size: 25px
  color: $dark-blue
  position: relative
  padding: 0 15px

  &:before, &:after
    content: ""
    display: block
    height: 1px
    top: 50%
    position: absolute
    width: 2000px
    background: $dark-blue
    margin-top: -1px
  &:before
    left: 100%

  &:after
    right: 100%


.products
  margin-bottom: 33px

.products__list
  list-style: none
  @include clearfix
  margin-left: -40px

.products__item
  float: left
  margin-left: 15px
  width: 228px
  -webkit-transition: 0.2s
  -moz-transition: 0.2s
  -ms-transition: 0.2s
  -o-transition: 0.2s
  transition: 0.2s
  border: 1px solid #dbe2eb

.products__item:hover
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15)
  -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15)
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15)

.products__item:hover .product__title-text
  color: #613993

.products__item-inner
  padding: 20px 14px 5px
  display: block

.products__title
  @include clearfix
  margin-bottom: 16px

.products__title-pic
  float: left
  width: 82px
  height: 90px
  position: relative

.products__title-pic img
  display: block
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto

.products__title-text--wrap
  float: right
  width: 115px

.product__title-text
  display: table-cell
  vertical-align: middle
  text-align: center
  width: 115px
  height: 90px
  font-size: 15px
  line-height: 17px
  color: $blue
  -webkit-transition: 0.2s
  -moz-transition: 0.2s
  -ms-transition: 0.2s
  -o-transition: 0.2s
  transition: 0.2s

.products__options-list
  list-style: none
  padding: 20px

.products__options-item
  @include clearfix
  margin-bottom: 5px

.products__options-key,
.products__option-value
  //width: 90px
  float: left
  font-size: 14px
  line-height: 16px
  color: #5c7b98

.products__option-value
  padding-left: 10px

.scrollTop
  z-index: 999
  position: fixed
  width: 77px
  height: 39px
  line-height: 39px
  background: url("../img/icons/to-top.png")
  right: 10px
  bottom: 10px
  outline: none
  color: #ffffff  